AuthType Basic
AuthName "Fox Logistics API"
AuthUserFile .htpasswd
Require valid-user

<Files .htaccess>
order allow,deny
deny from all
</Files>
<Files .htpasswd>
order allow,deny
deny from all
</Files>